:root {
  --first-text-color: #ffffff;
  --second-title-color: #000000;
  --third-tex-color: #212121;
  --fourth-text-color: #757575;
  --fifeth-text-color: #2196f3;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--third-tex-color);
  width: 1600 px;
}
.pointer {
  cursor: pointer;
}

/*---------------- LINKS NAV---------------------*/

.menu-links {
  color: var(--third-tex-color);
}
.menu-links .link {
  color: var(--third-tex-color);
}
.menu-links .link:focus {
  color: var(--fifeth-text-color);
}

/*---------------- LINKS TEL/EMAIL---------------------*/

.tel-email-links .link {
  color: var(--fourth-text-color);
}
.tel-email-links .link:focus {
  color: var(--fifeth-text-color);
}
.header-connect {
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  width: 1200px;
  margin: 0 auto;
}

.line {
  border-bottom: 1px solid #ececec;
}
/*---------------- LOGOTIP HEADER---------------------*/

.logo-color-blue {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--fifeth-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-color-black {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: #000000;
}

.logo-color-white {
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 26 px;
  line-height: 1.2;
  letter-spacing: 0.03 em;
  color: var(--first-text-color);
}

/*---------------- HEADER ---------------------*/

.menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.navigation-location:not(:last-child) {
  margin-right: 359px;
}
.navigation-location {
  display: flex;
  align-items: center;
}
.navigation-links-menu:not(:last-child) {
  margin-right: 50px;
}
.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-links-contacts {
  width: 140px;
  height: 16px;
}

.contacts-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  margin-right: 30px;
}

.contacts-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
}
/*---------------- HERO LIST ---------------------*/

.hero-list {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  margin: 0 auto;
  text-align: center;
}
.main-title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);

  margin-bottom: 30px;
}

.main-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  color: var(--first-text-color);
  background-color: #2196f3;
}
.button-navigation {
  padding-bottom: 200px;
}

/*-----------------QUALITIES---------------*/

.qualities-container {
  margin: 0 auto;
}

.location-qualities {
  padding-bottom: 94px;
  padding-top: 108px;
}

.list-qualities {
  display: flex;
}

.main-qualities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-tex-color);
}
.content-qualities {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-top: 10px;
}

.size-item:not(:last-child) {
  margin-right: 30px;
}
.size-item {
  height: 101px;
  width: 270px;
  margin-right: auto;
}

/*-------------------SECOND TITLE----------------*/
.container-second-text {
  padding-left: 15px;
}

.second-title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-tex-color);

  margin-bottom: 50px;
}

.gallery-img {
  display: flex;
  padding-bottom: 94px;
}

.distanse-img:not(:last-child) {
  margin-right: 30px;
}
.distanse-img {
  margin-right: 0px;
}

/*-------------------COMAND----------------*/
.comand-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-third-text {
  margin: 0 auto;
}
.size-section-comand {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.third-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-tex-color);
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-top: 10px;
}

.gallery-comand {
  display: flex;
  width: 1170px;
  height: 368px;
}

.img-comand {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.last-comand {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/*-------------------FOOTER----------------*/
.footer-section {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-container {
  width: 240px;
  height: 81px;
}

.footer-container {
  margin: 0 auto;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.adress-links .link-footer {
  color: rgba(255, 255, 255, 0.6);
}

.adress-links .link-footer:focus {
  color: var(--fifeth-text-color);
}
.adress-item {
  margin-top: 20px;
}
.mail-item {
  margin-top: 9px;
}
.tel-item {
  margin-top: 9px;
  padding-bottom: 60px;
}

.color-white {
  color: var(--first-text-color);
}
.adress-links .link-footer:focus .color-white {
  color: var(--fifeth-text-color);
}

.footer-font {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*---------------------------------------*/
/*------------PORTFOLIO------------------*/

.blue-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: #f5f4fa;
}

.btn-color .blue-btn {
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--third-tex-color);
  border-radius: 4px;
}
.btn-color .blue-btn:focus {
  background-color: var(--fifeth-text-color);
  color: var(--first-text-color);
}

.titel-text-third {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-tex-color);
}
.content-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.button-container {
  display: flex;
  margin: 0 auto;
}

.button-items {
  margin-bottom: 50px;
}

.size-button:not(:last-child) {
  margin-right: 8px;
}
.size-button {
  margin-right: 0px;
}
.portfolo-icons {
  margin: 0 auto;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-icons {
  display: flex;
  flex-wrap: wrap;
}

.paddings-texts {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-icons {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.img-icons:nth-child(3n) {
  margin-right: 0px;
}
.img-icons {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: content-box;
}

.distanse-title {
  margin-bottom: 4px;
}
.size-text {
  width: 320px;
}
